*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    background-color: #0a192f;
    height: 100vh;
    
  }
  body::-webkit-scrollbar{
    display: none;
    /* scrollbar-color: rgb(73, 86, 112); */
  }
  nav{
    height: 80px;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #cad4f4;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    color: #4dc2ad;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: #4dc2ad;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 1096px){
   
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 1088px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #4dc2ad;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

.front{
    padding-top: 160px;
    padding-bottom: 120px;
    padding-left: 200px;
    width: 1300px;

}
.front h3{
    font-size: 20px;
    color: #4dc2ad;
}

.front h1{
    font-size: 60px;
    color: #ccd6f6;
}
.front #he{
    color: #717c99;
}
.front p{
    color: #717c99;
    width: 630px;
    line-height: 1.5;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.5);
}
.twitter,.github,.linkedin{
    color: #cad4f4;
}

.twitter:hover {
    color: #4dc2ad;
}

.github:hover {
    color: #4dc2ad;
}

.linkedin:hover {
    color: #4dc2ad;
}
.bord{
    padding-top: 30px; 
    border-bottom: 5px solid #717c99;
}

.shubh{
  width: 300px; 
  height: 300px; 
  box-sizing: border-box; 
  color: rgb(136, 146, 176);
  object-fit: cover;
  opacity: 1;
  overflow-clip-margin: content-box;

}
.shubh {
  position: relative;
  display: inline-block;
  box-shadow: 10px 10px #4dc2ad;
}

.border img {
  height: auto; /* Maintain aspect ratio */
}

.border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(95, 241, 208, 0.2); /* Adjust glow color and opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.border:hover::after {
  opacity: 0.8;
}



.border{
  border-color: #717c99;
  border-radius: 4px solid;
  border-style: solid;
  border-width: 1.6px;
  border-image-slice :100%;
  border-image-width :1;
  border-top-left-radius :4px;
  border-top-right-radius: 4px;
  box-sizing :border-box;
  display :block;
  height: 300px;
  width: 300px;  
  line-height: 26px;
  position :relative;
}

/* academics page */

.contain{
  width: 100%;
  height: 600px;
  padding-left: 530px;
  padding-top: 80px;

}
.academic{
  background-color: #717c99;
  width: 460px;
  height: 450px;
  box-shadow: 20px 20px 5px;

}

/* text .animation */
.waviy {
  position: relative;
  /* Reflect effect */
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #0a192f;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.waviy h2{
  display: none;
}

/* Achievements*/

.containforachieve {
  height: 600px;
  width: 700px;
  padding-left: 590px;
  padding-top: 60px;
}
.academicachieve{
  background-color: #717c99;
  width: 560px;
  height: 450px;
  box-shadow: 20px 20px 5px;
}

.containerachive {
  display: flex;
	position:relative;
	top: 49%;
	left: 58%;
	transform: translate(-50%, -50%);
}

table {
	width: 450px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}

}

.containforachieve h1{
  color: #cad4f4;
  width: 550px;
}

/* slogans */

.quote1{
  height: 250px;
  padding-top: 30px;
  transition: box-shadow .3s;
}
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.mahtamajitext{
  color: #cad4f4;
  padding-left: 100px;
  padding-top: 56px;
  font-family: "Lugrasimo", cursive;

}
.mahatmajiphoto{
  padding-bottom: 60px;
}
.quote1:hover {
  box-shadow: 0 0 11px rgba(77, 194, 173, 0.6); 
}

.quote2{
  height: 250px;
  padding-top: 30px;
  transition: box-shadow .3s;

}

.swamijitext{
  color: #cad4f4;
  padding-left: 20 px;
  padding-top: 56px;
  font-family: "Bebas Neue", sans-serif;

  font-style: normal;
  
}
.swamijiphoto{
  padding-left: 100px;
  padding-bottom: 60px;
}
.quote2:hover {
  box-shadow: 0 0 11px rgba(77, 194, 173, 0.6);
}
.einstintext{
  color: #cad4f4;
  padding-left: 100px;
  padding-top: 56px;
  font-family: "Lugrasimo", cursive;

}
.einstinphoto{
  padding-bottom: 60px;
}



/* Hobbies Page */

.hobbie{
  padding-left: 60px; 
  padding-right: 40px;

}
.fhobbie{
  width: 30%;
  height: 480px;
  float: left;
  text-align: center;
  margin: 20px;
  background-color: #717c99;
  box-sizing: border-box;

}
.fhobbie img{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
@media screen and (max-width: 1322px) {
  .fhobbie {
    width: 100%;
  }
  .bord1{
    display: none;
  }

}
.fhobbie h2{
  padding-top: 10px;
}


.fhobbie:hover  {
  transform: translateY(-10px);
  transition: 0.4s ease;
  transition: 0.9s;
  box-shadow: 0 0 20px rgba(249, 249, 249, 0.5);

}
.fhobbie p{
  text-align: left;
  text-indent: 30px;
  line-height: 22px;
  padding-left: 20px;
  padding-top: 9px;
}

/* Contact us */

.part1_contact{
  width: 50%; 
  float: left;
  padding-left: 230px;
  padding-top: 300px;
  background-color: #2c3e50;


  height: 92vh;
}
.container_social1{
  padding-left: 30px;
}
.part2_contact{
  padding-left: 250px;
  padding-top: 150px;
  height: 92vh;
  background-color: #717c99;

}
.form-conatainer{
  background-color: #717c99;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 400px;
}
.form-section{
  padding: 30px 40px;
}

.form-input{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-input label{
  color: black;
  display: block;
  margin-bottom: 5px;
}

.form-input input{
  border: solid 2px #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  outline: none;
}


.form-submit button{
  cursor: pointer;
  background-color: #0a192f;
  border: 2px solid #0a192f;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  outline: none;
}
.form-input1{
  color: black;
}


/* feedback form */

.feedformcontainer{
  padding-left: 500px;
  padding-top: 40px;
}
.feedcontainer{
  background-color: #717c99;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 500px;
}
.feedsec{
  padding: 30px 40px;
}
.feedinput{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.feedinput label{
  color: black;
  display: block;
  margin-bottom: 5px;
}

.feedinput input{
  border: solid 2px #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.feed-submit button{
  cursor: pointer;
  background-color: #0a192f;
  border: 2px solid #0a192f;
  border-radius: 20px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  outline: none;
}
.feedinput1 h4{
  color: black;
  display: block;
  margin-bottom: 5px;
}


/* ideas */

.quoteidea{
  height: 250px;
  padding-top: 50px;
}
.bcitext{
  color: #cad4f4;
  padding-left: 100px;
  padding-top: 56px;
  font-family: "Lugrasimo", cursive;
}
.headidea{
  padding-left: 700px;
  padding-right: 700px;
  
}
.bcitext p{
  color: #55608f;
}

/* Responsive index page */
@media screen and (max-width: 1373px) {
 .front{
  padding-left: 20px;
  width: 800px;
 }
 .pindex{
  display: none;
 }
}
@media screen and (max-width: 1029px) {
  .front{
   padding-left: 20px;
   width: 400px;
  }
  .pindex{
   display: none;
  }
 }
 
 @media screen and (max-width: 664px) {
  .front{
   padding-left: 20px;
   width: 200px;
  }
  .pindex{
   display: none;
  }
  .shubh{
    display: none;
  }
  .border{
    display: none;
  }
 }

 /* Responsive academics page */

@media screen and (max-width: 1105px) {
  .contain{
    padding-left: 500px;
  }
 }
 @media screen and (max-width: 972px) {
  .contain{
    padding-left: 300px;
  }
 }
 @media screen and (max-width: 766px) {
  .contain{
    padding-left: 100px;
  }
 }
 @media screen and (max-width: 563px) {
  .contain{
    padding-left: 20px;
  }
 }
 @media screen and (max-width: 488px) {
  .academic{
    width: 300px;
    height: 500px;
  }
  .waviy{
    display: none;
  }
  
 }

 /* Responsive achievement page */
 @media screen and (max-width: 1161px) {
  .containforachieve{
    padding-left: 500px;
   }
 }
 @media screen and (max-width: 1060px) {
  .containforachieve{
    padding-left: 300px;
   }
 }
 @media screen and (max-width: 857px) {
  .containforachieve{
    padding-left: 100px;
   }
 }
 @media screen and (max-width: 664px) {
  .containforachieve{
    padding-left: 40px;
   }
   .academicachieve{
    width: 400px;
    height: 600px;
   }
   .containerachive{
    width: 300px;
    transform: translate(-70%,-50%);
   }
   .border{
    display: none;
  }
  .achievep{
    display: none;
  }
 }


 /* Responsive for ideas */
 @media screen and (max-width: 1428.44px) {
  .headidea{
    padding-left: 600px;
   }
   .headidea h1{
    width: 150px;
   }
 }
 @media screen and (max-width: 835px) {
  .headidea{
    padding-left: 100px;
   }
   .headidea h1{
    width: 150px;
   }
 }
  /* Responsive for ideas */

 @media screen and (max-width: 1428px) {
 
   .headidea .slog{
    width: 200px;
   }
 }
   /* Responsive for feedback */

   @media screen and (max-width: 1280px) {
 
    .feedformcontainer{
      padding-left: 500px;
    }
  }
  @media screen and (max-width: 1065px) {
 
    .feedformcontainer{
      padding-left: 300px;
    }
  }
  @media screen and (max-width: 816px) {
 
    .feedformcontainer{
      padding-left: 40px;
    }
  }

  /* Responsive for contact us */

  @media screen and (max-width: 1324px) {
 
   .part1_contact{
    padding-left: 100px;
   }
   .part2_contact{
    padding-left: 100px;
   }
  }

  @media screen and (max-width: 1012px) {
 
    .part1_contact{
     padding-left: 20px;
    }
    .part2_contact{
     padding-left: 20px;
    }
   }
   @media screen and (max-width: 843px) {
 
    .contact_container{
      width: 100%;
      height: 100%;
    }
    .part1_contact{
     padding-left: 5px;
    
    }
    .part2_contact{
     padding-left: 5px;
   
    }
   }

    /* Responsive for slogan */

    @media screen and (max-width: 1400px) {
 
      .quote1 img{
        width: 50%;
      }
      .swamijitext h2{
        padding-left: 100px;
      }
      .bord{
        display: none;
      }
    }